.ControlBreadcrumb{
    margin: 0 0 2em !important;
}



.ControlTimeout .progress{
    margin-top: 20px !important;
    margin-bottom: 0px !important;
}

.ControlEmptyWidget{
    
}


.ControlSlider input[type='range']{
    min-width: 300px;
}

.ControlPlayer .max-width-700{
    max-width: 700px !important;
}


.row .viewer, .viewer{
    width: 100%;
    height: 400px;
}

.columns .viewer{
    width: 480px;
    height: 400px;
}

.columns .control, .columns .rows{
    display: inline-block;
}

.rows .control{
    display: table;
}

.verticalSplitter,   .horizontalSplitter {
    height: 200px;
    width: 500px;
    border: 5px solid #aaa;
}

.verticalSplitter div,   .horizontalSplitter div{
    overflow: auto;
}

.vsplitbar {
    width: 5px;
    background: #aaa;
}

.hsplitbar {
    height: 5px;
    background: #aaa;
}

.filename{
    min-width: 201px;
    width: 201px;
}

.textfield{
    min-width: 231px;
}


.noTitleStuff .ui-dialog-titlebar {display:none}

h3.subtitle {
    color: #333;
    padding: 10px;
    padding-right: 0px;
    max-width: 790px;
    text-transform: uppercase;
    text-decoration: underline;
    letter-spacing: 2px;
}





#schedulejob-window-bottom{
    float: right;
    margin-right: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
}



.choose-file-button{
    padding-left: 5px;
    position: relative;
    top: 11px;
}

.ControlWorkflow .flowchart-container{
    width:  100%;
    height: 100%;
}

.field-empty-space{
    height: 30px;
}

.ControlQueryList td, .ControlQueryList th{
    cursor: pointer !important;
}

.ControlList td, .ControlList th{
    cursor: pointer !important;
}

[action]{
    cursor: pointer !important;
}

.pyforms-segment.overflow{
    overflow: auto;
}

.pyforms-segment > .field{
    margin-bottom: 14px !important;
}

.pyforms-segment > .field:last-child{
    margin-bottom: auto !important;
}

.pyforms-segment > .fields:last-child{
    margin-bottom: 0px;
}



.pyforms-segment > .ControlEmptyWidget > .form > .field {
    margin-bottom: 14px !important;
}

.pyforms-segment > .ControlEmptyWidget > .form .field:last-child {
    margin-bottom: 0px !important;
}

.pyforms-segment > .ControlEmptyWidget > .form .fields:last-child {
    margin-bottom: 0px !important;
}

.pyforms-segment > div > .form {
    margin-bottom: 0px !important;
}






.ControlTree ul.tree{
    margin-left: 0px;
    padding-left: 10px;
}

.ControlTree ul.tree ul {
    margin-left: 0px;
    padding-left: 15px;
}

.ControlTree ul.tree li {
    list-style: none;
    margin: 0;
    padding: 0 7px;
    line-height: 20px;
    border-left:1px solid rgb(180,180,180);
}

.ControlTree ul.tree li label:hover {
    background-color: white;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 3px;
    cursor: pointer; 
}

.ControlTree ul.tree li label.selected {
    background-color: #999;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 3px;
    cursor: pointer; 
}

.ControlTree ul.tree li:last-child {
    border-left:none;
}

.ControlTree ul.tree li:before {
    position:relative;
    top:-0.3em;
    height:1em;
    width:12px;
    color:white;
    border-bottom:1px solid rgb(180,180,180);
    content:"";
    display:inline-block;
    left:-7px;
}

.ControlTree ul.tree li:last-child:before {
    border-left:1px solid rgb(180,180,180);   
}
















.ControlPlayerJs .canvas, .ControlPlayerJs .video{
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
    background: #000;
    z-index: 5;
    cursor: pointer;
}

.ControlPlayerJs .canvas{
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.ControlPlayerJs .video-graph {
    min-height: 100px;
    background-color: #FFF;
    width: 100%;
}

.ControlPlayerJs .video-timeline {
    background: rgba(255, 255, 255, 0.4);
    /*bottom: 12px;*/
    cursor: pointer;
    height: 12px;
    left: 0;
    opacity: 1;
    /*position: relative;*/
    transition: all 0.2s;
    width: 100%;
    z-index: 12;
}

.ControlPlayerJs .video-timeline-passed {
    background: #E81D31;
    height: 100%;
    width: 0;
}


.ControlPlayerJs .video-timeline-loaded {
    background: #333;
    opacity: 0.7;
    position: relative;
    bottom: 5px;
    height: 5px;
    width: 0;
}

.ControlPlayerJs:hover .video-timeline {
    height: 12px;
}

.ControlPlayerJs:hover .video-timeline-passed {
    background: #E81D31;
}

.ControlPlayerJs:hover .video-event {
    bottom: 12px;
}

.ControlPlayerJs:hover .video-timeline-event {
    background: #790c17;
}

.ControlPlayerJs .timeline-progressbar div{
    height: 12px;
    background-color: #666666;
}

.ControlPlayerJs .timeline-zoombar > div{
    height: 12px;
    background-color: #cce6ff;
    z-index: 10;
}

.ControlPlayerJs .timeline-zoombar > i{
    font-size: 12px;
    position: relative;
    color: black;
    z-index: 1;
}

.ControlPlayerJs .timeline-zoombar > i.minus{
    float: left;
    left: 2px;
    top:-3px;
}


.ControlPlayerJs .timeline-zoombar > i.plus{
    float: right;
    right: 2px;
    top:-2px;
}


.ui.modal > .content{
    background-color: #f1f4f5;
}
