simplejson
django==1.10.6
lockfile
sorl-thumbnail
dill
filelock
django-allauth
git+https://github.com/UmSenhorQualquer/pysettings.git
git+https://github.com/UmSenhorQualquer/django-jfu.git
git+https://UmSenhorQualquer@bitbucket.org/UmSenhorQualquer/pyforms-web.git --upgrade
git+https://UmSenhorQualquer@bitbucket.org/UmSenhorQualquer/orquestra.git --upgrade
