sphinx
sphinx-autobuild
sphinx-rtd-theme
rinohtype
django
recommonmark
celery
sphinxcontrib_django
numpydoc
docxbuilder
sphinx_markdown_tables
pygraphviz
pyparsing
pydot
rst2pdf
sphinx-js
sphinx-press-theme
markupsafe==2.0.1
